input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

label {
    padding-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
}

.centre-container-items {
    display: flex; 
    align-items: center;
    justify-content: center;
}
