.Player-scorecard {
    border: 2px solid var(--secondary);
    border-radius: 10px;
    margin: 5px;
    width: calc(300px + 10 * ((100vw - 320px) / 680));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Player-scorecard h2 {
    border: none;
    font-size: 2.5rem;
}

.Player-scorecard p {
    text-align: center;
    font-size: 5rem;
    max-width: 100%;
}

.name-container {
    display: inline-flex; 
    align-items: center; 
}

.edit-icon {
    margin-left: 5px;
    color: var(--primary);
    
}

.name-input,
.score-input,
.invisible-element {
    border: 2px solid var(--secondary);
    border-radius: 2px;
    font-size: 1.5rem;
    margin: 1rem;
}

.name-input {
    width: 70%;
    height: 30px;
    padding: 1rem;
    color: var(--dark);
}

.score-input,
.invisible-element {
    width: calc(30px + 10 * ((100vw - 320px) / 680));
    min-width: 70px;
    max-width: 80px;
    height: 50px;
}

.Score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.Score-btns {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.score-input:focus,
.name-input:focus {
    outline-color: var(--secondary);
}

.invisible-element {
    visibility: hidden;
    width: fit-content;
    font-size: 1.2rem;
}