:root {
  --primary: #696D7D;
  --secondary: #68B0AB;
  --accent: #8FC0A9;
  --light: #FAF3DD;
  --dark: #383838;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html { 
  background-color: var(--light);
}

.App-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App-index {
  text-align: center;
  background-color: var(--light);  
  font-size: calc(25px + 6 * ((100vw - 320px) / 680));
  color: var(--primary);
}

p, li, h1, h2, h3, h4 {
  color: var(--dark);
}

h1, h2, h3, h4, p {
  margin: 15px 0;
}

h1 {
  font-size: calc(45px + 6 * ((100vw - 320px) / 680));
  border-bottom: 1px solid var(--accent);
}

h2 {
  font-size: calc(25px + 6 * ((100vw - 320px) / 680));
  border-bottom: 1px solid var(--accent);
  padding: 4px;
}

h3 {
  font-size: calc(20px + 6 * ((100vw - 320px) / 680));
  text-transform: uppercase;
  border-bottom: 1px solid var(--accent);
}

h4 {
  border-bottom: 1px solid var(--accent);
  font-size: calc(15px + 6 * ((100vw - 320px) / 680));
}

p {
  font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  padding: 0 20px;
  width: calc(600px + 100 * ((100vw - 320px) / 680));
  text-align: left;
}

ul {
  background-color: var(--accent);
  padding: 20px;
  padding-left: 30px;
  width: calc(500px + 100 * ((100vw - 320px) / 680));
}

.Home-header {
  display: flex;
  font-size: 2rem;
  background-color: var(--secondary);
  justify-content: center;
  width: 100%;  
}

.Home-header h1 {
  border: none;
  color: var(--light);
  padding: 1rem;
}

.Home-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Text-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.Text-Container li {
  font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  text-align: left;
  padding-left: 10px;
}

.Text-Container li::marker {
  content: "\2663";
  color: var(--light);
}